.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 20px;
    font-family: Arial, sans-serif;
    gap: 10px;
    margin: 30px 0;
}

.firstBlock {
    height: 200px;
    width: 500px;
    background: #205CC4FF;

}

.secondBlock {
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.widget {
    height: 190px;
    width: 150px;
    background: #18467b;

}

.thirdBlock {
    height: 400px;
    width: 500px;
    background: #205CC4FF;

}

.centerTxt {
    display: flex;
    justify-content: center;
    align-items: center;
}